
	<div class="contact_form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_form_container">
						<div class="contact_form_title">Cadastro de produto</div>

						<form action="#" id="contact_form">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Produto Disponível</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Produto Indisponível</label>
                            </div>
                            <br>

							<div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
								<input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Nome do produto" required="required" data-error="Preencha o nome.">
								<input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="Estoque " required="required" data-error="Preencha o estoque.">
								<input type="text" id="contact_form_phone" class="contact_form_phone input_field" placeholder="Preço" required="required" data-error="Preencha o Preço.">
							</div>
							<div class="contact_form_text">
								<textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Descrição Produto" required="required" data-error="Please, write us a message."></textarea>
							</div>
                            <br>

                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="">
                            </div>

                              
							<div class="contact_form_button">
								<button type="submit" class="button contact_submit_button">Salvar Produto</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
