<nav class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="main_nav_content d-flex flex-row">
                
                    <!-- Main Nav Menu -->

                    <div class="main_nav_menu ml-auto" id="men">
                        <ul class="standard_dropdown main_nav_dropdown">
                            <li><a [routerLink]="['listproducts']">Produtos<i class="fas fa-chevron-down"></i></a></li>
                            <li><a [routerLink]="['allproducts']">Lista Produtos<i class="fas fa-chevron-down"></i></a></li>
                            <li><a [routerLink]="['registerproduct']">Cadastrar Produto<i class="fas fa-chevron-down"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

		

