	<!-- Single Product -->
	<div class="single_product">
		<div class="container">
			<div class="row">
				<!-- Selected Image -->
				<div class="col-lg-5 order-lg-2 order-1">
					<div class="image_selected"><img src="assets/images/single_4.jpg" alt=""></div>
				</div>
				<!-- Description -->
				<div class="col-lg-5 order-3">
					<div class="product_description">
						<div class="product_category">{{attributeProduct.nome}}</div>
						<div class="product_name">{{attributeProduct.descricao}}</div>
						<div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
						<div class="product_text"><p>{{attributeProduct.descricao}}</p></div>
						<div class="envolve">
							<div class="product_price">R$ {{attributeProduct.preco}}</div><br>
							<button type="button" class="button cart_button">Adicionar ao carrinho</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

