/* CSS CREATE */

#botoes {
    margin-top: 14px;
}

#btn-editar {
    margin-top: 15px;
}

#btn-excluir {
    margin-top: 15px;
}

#men {
    margin-left: 400px;
} 

#cart-produtos {
   margin-bottom: -62px;
}


.copyright {
	margin-bottom:0;
}

.status-produto{
   margin-bottom: 4px;
}